body, h1, h2, p {
    margin: 0;
    padding: 0;
}
/* Defining some fonts of my choice */
body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #040400;
    line-height: 1.6;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    margin-bottom: 20px;\
}
h2 {
    font-size: 28px;
    margin-top: 20px;
    color: #b07272; /* Blue color for headings */
    }
p {
    font-size: 18px;
} /* The following will add unique style to the links if there are any present */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: #0056b3; /* Darker blue on hover */
        }
